<div class="row" style="text-align: center;">
  <h3>Repo : <%= params[:repo][:name] %></h3>
  <p><%= params[:repo][:description] %></p>
  <a href="<%= params[:repo][:html_url] %>" target="_new">view on github</a>

  <p>Created: <%= Date.parse(params[:repo][:created_at]).strftime("%b %d, %Y") %> </p>
  <p>Size: <%= params[:repo][:size] %> bytes</p>
  <p>Main Language: <%= params[:repo][:language] %></p>


  <div id='header-wrapper'>
    <h1 id='title'> Commits on <span>Github</span> Repository </h1>
    <span style=""><input type="text" class="daterange"/></span>
  </div>

  <div class="commits-graph" id="<%= params[:repo][:name] %>"><%= render 'commits_graph' %></div>

  <h2 id='bar-info'></h2>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.0.1/d3.v3.min.js"></script>
<script>
  var commits = <%= raw @commits.to_json %>;
</script>
